<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PositionMonitorLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PositionMonitorLib.Properties.Settings.HugoConnectionString"
            connectionString="Data Source=GARSQL11;Initial Catalog=Hugo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PositionMonitorLib.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="PublisherHost" serializeAs="String">
                <value>Garbloom.GSI.com</value>
            </setting>
            <setting name="RefreshMs" serializeAs="String">
                <value>10000</value>
            </setting>
        </PositionMonitorLib.Properties.Settings>
    </applicationSettings>
</configuration>